@media screen and (max-width: 996px) {
    .home-features {
        padding: 0 10px;

        main {
            display: block;
            text-align: center;

            .feature-item {
                &:not(:last-of-type) {
                    margin-bottom: 30px;
                }

                p {
                    color: #465375;
                }
            }
        }
    }
}