.home {
    background-color: '#FCFCFF' !important;

    .title {
        background-image: linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 50.73%, rgba(255, 255, 255, 0.28) 68.61%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #16ABFF 0%, #B5B4FF 63%);
        color: transparent;
        background-clip: text;
        text-align: center;
        user-select: none;
        height: 148px;
        line-height: 148px;
        margin: 0;
    }
}

@media screen and (max-width: 996px) {
.home {
    .title {
        height: 100px;
        line-height: 100px;
    }
}
}