.home-kernel-arch {
    position: relative;

    .example {
        display: block;
        width: 518px;
        margin: 100px auto;
    }

    .example2 {
        display: block;
        width: 80vw;
        max-width: 1000px;
        margin: auto;
    }

    .cards {
        position: absolute;
        top: 50%;
        left: 50%;

        &::after {
            content: '';
            clear: both;
            display: block;
        }
    }

    .card-item {
        position: absolute;
        width: 25vw;
        border-radius: 15px;
        
        main {
            background: linear-gradient(279.85deg, rgba(154, 219, 255, 0.3) 0%, rgba(219, 235, 255, 0.230625) 38.54%, rgba(191, 201, 255, 0.180937) 66.15%, rgba(181, 180, 255, 0.12) 100%);
            backdrop-filter: blur(5px);
            padding: 16px 25px;
            border-radius: 15px;
            border: 1px solid #fff;

            header {
                font-size: 2rem;
            }
    
            footer {
                color: #465375;
                font-size: 0.8rem;
                margin-top: 15px;
            }
        }
        

        &:nth-of-type(1) {
            transform: translate(-37vw, -300px);
        }

        &:nth-of-type(2) {
            transform: translate(16vw, 0);
            .index {
                right: 0;
            }
        }

        &:nth-of-type(3) {
            transform: translate(-37vw, 150px);
        }

        .index {
            position: absolute;
            background: linear-gradient(101.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 20.73%, rgba(255, 255, 255, 0.28) 28.61%, rgba(255, 255, 255, 0) 56.05%), linear-gradient(0deg, rgba(10, 163, 249, 0.4) 0%, rgba(181, 180, 255, 0.4) 100.72%);
            color: transparent;
            background-clip: text;
            font-size: 140px;
            top: -150px;
            opacity: 0.5;
            font-family: 'Segoe UI';
        }
    }
}

@import "./index.phone.scss";