@media screen and (max-width: 996px) {
.home-footer {
    margin-top: 50px;
    border-radius: 0;

    .part1 {
        flex-direction: column;
        padding: 20px;
        margin: 0 20px;

        .list-item {
            width: 100%;
            padding: 0;

            h3 {
                font-size: 1.2rem;
            }
        }

        .contact {
            text-align: center;

            .icons {
                justify-content: space-around;
            }
        }
    }
}
}